body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  scroll-behavior: smooth;
}

/******* NAVIGATION BAR *******/

nav {
  font-weight: bold;
}

.nav-links {
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

/******* HEADER SECTION *******/

header {
  background-image: url(../images/dandelion.jpg);
  padding-top: 7rem;
  height: 60rem;
  opacity: 0.6;
  background-repeat: no-repeat;
}

.intro {
  color: white;
  padding-left: 7rem;
}

#intro {
  padding-bottom: 3rem;
  font-size: 5rem;
  font-family: 'Roboto', Sans-Serif;
}

.header-intro {
  font-size: 1.25rem;
  font-family: 'Cabin', Sans-Serif;
}

.arrow-circle {
  margin-top: 5rem;
  margin-left: 10rem;
  height: 4rem;
  width: 4rem;
  border: rgb(96, 151, 151) 1px solid;
}

.arrow {
  padding-top: 0.7rem;
}

/******* ABOUT ME SECTION *******/

.about-me {
  color: white;
  margin-top: 6rem;
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

#aboutMe {
  height: auto;
}

.info {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.info-aboutme {
  padding: 3% 10%;
  color: rgb(0, 0, 0);
  margin-top: 3%;
  font-family: 'Cabin', Sans-Serif;
}

.profile-pic {
  height: 32rem;
  margin-left: 10%;
  margin-top: 3%;
}

.other-title {
  padding-bottom: 1.6rem;
}

.frontend,
.backend {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill-col {
  padding: 0 7% 0 7%;
}

.skill {
  color: rgb(56, 85, 82);
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Cabin', Sans-Serif;
}


.aboutskills {
  padding: 7%;
}

h5 {
  color: rgb(91, 93, 93);
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

.collapsible-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.collapsible-header {
  border: rgba(104, 102, 102, 0.383) 1px solid;
}

.skills-title {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

.skills-div {
  margin-top: 3rem;
}

.build {
  padding-top: 0.5rem;
}

.collapsible-body {
  padding: 1rem;
  border-bottom: 1px solid rgba(104, 102, 102, 0.383);
  border-left: 1px solid rgba(104, 102, 102, 0.383);
  border-right: 1px solid rgba(104, 102, 102, 0.383);
}


/******* PROJECTS SECTION *******/

.projects {
  color: white;
  font-weight: bold;
  margin-top: 6rem;
  font-family: 'Roboto', Sans-Serif;
}

#projects {
  height: 100vh;
}

.project-container {
  display: flex;
  flex-direction: row;
  padding: 3rem 3rem;
  margin-top: 3rem;
}

.project-title {
  font-family: 'Roboto', Sans-Serif;
}

h4 {
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

p {
  font-family: 'Cabin', Sans-Serif;
}

.waitonme {
  width: 25rem;
}

.card-fe {
  width: 25rem;
  background-color: #b7e2ff71;
  padding: 5px;
}

.quiddit {
  width: 26rem;
}

.card-mvp {
  width: 25.25rem;
  background-color: #b7e2ff71;
  padding: 5px;
  margin-left: 3rem;
}

.saleboat {
  height: 13.75rem;
}

.card-be {
  background-color: #b7e2ff71;
  padding: 5px;
  margin-left: 3rem;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/******* CONTACT SECTION *******/

.icon {
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
}

.contact-icon {
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
}

.contact-info {
  color: black;
  margin-left: 1rem;
  position: absolute;
  margin-top: 1.25rem;
  font-size: 1rem;
  font-family: 'Cabin', Sans-Serif;
}

.contact {
  color: white;
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}

.contact-row {
  margin-left: 25%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.parallax-container {
  height: 100%;
}

/******* FOOTER SECTION *******/

.page-footer {
  padding-top: 0;
}

.footer-text {
  color: rgb(65, 63, 63);
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
}