body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  scroll-behavior: smooth;
}

nav {
  font-weight: bold;
}


header {
  background-image: url(../images/dandelion.jpg);
  padding-top: 7rem;
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
}

.intro {
  color: white;
  padding-left: 7rem;
}

#intro {
  padding-bottom: 3rem;
  font-size: 6rem;
}

.header-intro {
  font-size: 1.25rem;
}

.arrow-circle {
  margin-top: 5rem;
  margin-left: 10rem;
  height: 4rem;
  width: 4rem;
}

.arrow {
  padding-top: 0.7rem;
}

.about-me {
  color: white;
  font-weight: bold;
  margin-top: 6rem;
}

#aboutMe {
  height: 100vh;
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: row;
}

.info-aboutme {
  margin-top: 3%;
  padding: 3% 10%;
}

.profile-pic {
  height: 20rem;
  margin-left: 10%;
  margin-top: 3%;
}

.projects {
  color: white;
  font-weight: bold;
  margin-top: 6rem;
}

#projects {
  height: 100vh;
  width: 100vw;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-top: 50%;
}

.contact-icon {
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
}

.contact-info {
  color: black;
  margin-left: 1rem;
  position: absolute;
  margin-top: 1.25rem;
  font-size: 1rem;
}

.contact {
  font-weight: bold;
  color: white;
}

.row {
  margin-left: 25%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.parallax-container {
  height: 100%;
}

.page-footer {
  padding-top: 0;
}

.footer-text {
  color: rgb(65, 63, 63);
  font-weight: bold;
}