body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  scroll-behavior: smooth;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-top: 50%;
}

.page-footer {
  padding-top: 0;
}